#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, Always.
    %button= link_to "Enter", new_user_session_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Celiac readymade 8-bit vaporware. Iceland leggings mixtape, 8-bit typewriter normcore jean shorts lomo unicorn blue bottle. Gastropub ramps viral hell of, ugh flannel fixie meh master cleanse mumblecore snackwave craft beer ennui chicharrones tumeric. Tilde listicle banh mi jean shorts pinterest lumbersexual. Ramps chicharrones edison bulb food truck raclette semiotics cray. Vaporware microdosing live-edge pour-over occupy. 3 wolf moon man bun franzen craft beer unicorn literally.Celiac readymade 8-bit vaporware. Iceland leggings mixtape, 8-bit typewriter normcore jean shorts lomo unicorn blue bottle. Gastropub ramps viral hell of, ugh flannel fixie meh master cleanse mumblecore snackwave craft beer ennui chicharrones tumeric. Tilde listicle banh mi jean shorts pinterest lumbersexual. Ramps chicharrones edison bulb food truck raclette semiotics cray. Vaporware microdosing live-edge pour-over occupy. 3 wolf moon man bun franzen craft beer unicorn literally.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path